form {
    display: flex;
    justify-content: center;
    margin-bottom: -12px; 
    padding: 5px; 
    margin-right: 12%;
}

form input {
    padding: 8px 15px 8px 30px; 
    font-size: 0.9rem; 
    border: 2px solid #4CAF50;
    border-radius: 20px; 
    outline: none;
    width: 200px; 
    background-color: #f0f9f4;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #45a049;
}

form .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #4CAF50;
}